*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body 
{
  background-color: #1a232e;
  overflow-x: hidden;
}
.link 
{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
button 
{
  cursor: pointer;
}